/*this is main.css, written by csi21*/
body{
	background-color: #dfe3ee;
	font-family: Tahoma;
	margin: 0;
	height: auto;
}

h1{
	font-size: 2em;
	color: #FFFFFF;
	margin: 0 0 10px 80px;
}

.header{
  height: 50px;
  width: 100%;
  background: #3b5998;
  padding: 15pt 0 15pt 0;
}

.bean {
	display: block;
	width: 500px;
	height: auto;
	margin: 0 auto;
}


 h2 {
	color: #1d2c4c;
	text-align: center;
	padding: 0 5% 0 5%;
}

h3{
	color: #000;
	text-align: center;
	padding:0 5% 0 5%;
}

img {
    width: 30%;
    height: auto;

}

.description{
  margin-left: 40px;
}

form{
	background-color: none;
	text-align: center;
	margin-left: 40px;

}

/*Left Block*/

.left-block{
	background-color: none;
	float: left;
	padding: 0 100px 0 0;
	display: inline-block;
}

.left-block p {
	font-size: 1em;
}

input{
	background-color: #DCDCDC;
	color: #808080;
}


div.right-block{
	 	display: inline-block;
}

div.preview{
	background-color: none;
}
div.button-block{
	background-color: none;

}
 /* Hover Buttun*/
.button {
  border-radius: 4px;
  background-color: #3b5998;
  border: none;
  color: #FFFFFF;
  font-size: 1.5em;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
	margin: 0 auto;
	position: relative;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
