/*this is main.css*/
body{
	background-color: #dfe3ee;	
	font-family: Tahoma;
	margin: 0;	

}
h1{
	font-size: 2em;
	color: #FFFFFF;
	margin-top: -0.01pt;
	margin-left: 40pt;
}

.header{
  height:30pt;
  width: 100%;
  margin-top:none;
  background: #3b5998;
  padding: 16pt 0;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top:0;
}

/*form#content {
 height:1600px;   
}
*/
h3.intro{
	color: #000;
	margin-left:40pt;
}

h2{
	color: #1d2c4c;
	margin-left: 40pt;
}

img {
    width: 30%;
    height: auto;

}

p.description{
  
  margin-left: 40pt;
}

form{
	background-color: none;
	text-align: center;
	margin-left: 40pt;

}

/*Left Block*/

div.left-block{
	background-color: none;
	float: left;
	padding: 0 100px 0 0;
	padding-right: 0;

}

input{
	background-color: #DCDCDC;
	color: #808080;
}

/*upload and drag an image*/
div.ddd{
	background-color: #a8a8a8;
}
div.camera{
	background-color: none;	

}

/*or Take a selfie!*/
/*Right Block*/

div.right-block{
   background-color: none;
   float:right;
   padding: 0;


}

div.preview{
	background-color: none;
}
div.button-block{
	background-color: none;

}
 /* Hover Buttun*/
.button {
  border-radius: 4px;
  background-color: #3b5998;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
